<p-dialog header="Новый события" [(visible)]="display" [modal]="true">
  <div class="grid mt-3" [formGroup]="createEventForm">

    <div class="col-12 md:col-12 field" >
      <label>События</label>
      <input type="text" formControlName="title" class="inputfield w-full width-100" pInputText />
    </div>

    <div class="col-12 md:col-6 flex flex-column">
      <label>Начало</label>
      <input formControlName="start" type="datetime-local" pInputText/>
    </div>

    <div class=" col-12 md:col-6 flex flex-column">
      <label>Окончание</label>
      <input formControlName="end" type="datetime-local" pInputText/>
    </div>


    <div class="flex flex-column">
      <div class="field col-12 md:col-2 flex flex-row ">
        <p-checkbox [binary]="true" formControlName="regularly" (click)="regularly = !regularly"></p-checkbox>
        <label class="ml-2">Регулярно</label>
      </div>
    </div>

    <div class="col-12 flex justify-content-end mt-4">
      <button pButton  type="button" (click)="createEvent()" label="Сохранить"></button>
    </div>

  </div>

</p-dialog>
